# -*- coding: utf-8 -*-

database = {
    'mysql': {
        'host': 'host',
        'user': 'user',
        'password': 'password',
        'database': 'database'
    }
}

translate = {
    'baidu': {
        'id': 'id',
        'key': 'key'
    },
    'youdao': {
        'id': 'id',
        'key': 'key'
    }
}

firebase = {
    'token': 'token'
}

storage = {
    'bucket_name': 'bucket_name',
    'client_id': 'client_id',
    'client_secret': 'client_secret',
    'refresh_token': 'refresh_token'
}