body{
	margin: 0;
	font-family:"roboto","Trebuchet MS", "Hiragino Kaku Gothic Pro";
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#topbar{
	position: fixed;
	top: 0;
	width: 100%;
	height: 56px;
	border-bottom: 1px solid #dfdfdf;
	box-shadow: 0px 0px 2px #dfdfdf;
	background-color: #eeeeee;
}
#back{
	height: 28px;
	width: 28px;
	background-size: 28px 28px;
	background-repeat: no-repeat;
	background-position: center center;
	display: inline-block;
	padding: 14px 10px;
	float: left;
	background-image: url(/static/image/ic_back.png);
}
#back:active{
	margin:10px 6px;
	padding:0;
	height:36px;
	width:36px;
	background-color:#e2e2e2;
	border-radius:18px;
}
#title{
	float: left;
	display: inline-block;
	font-size:18px;
	font-weight:bold;
	height: 56px;
	line-height: 59px;
	color: #777777;
}
#logo{
	margin-top:96px;
	margin-bottom:8px;
	height: 180px;
	width: 100%;
	background-image: url(/static/image/about.jpg);
	background-size: 160px 180px;
	background-repeat: no-repeat;
	background-position: center;

}
#description{
	margin: 0 32px;
	font-size:20px;
	color:#b0b0b0;
	margin-bottom:6px;
}

a#nogi,a#nogi:visited,a#nogi:hover,a#nogi:active{
	font-size:16px;
	font-weight:bold;
	color:#9E00A5 !important;
}
a#keyaki,a#keyaki:visited,a#keyaki:hover,a#keyaki:active{
	font-weight:bold;
	font-size:16px;
	color:#A0D468 !important;
}
#forward{
	width:100%;
	color:#cbcbcb;
	margin-bottom:12px;
	font-size:14px;
	margin-top:120px;
	text-align:center;
}
