body{
	margin:0;
	font-family:"roboto","Trebuchet MS", "Hiragino Kaku Gothic Pro";
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#topbar{
	z-index:99;
	width: 100%;
	height: 56px;
	position: fixed;
	top: 0px;
	border-bottom:1px solid #dfdfdf;
	box-shadow: 0px 0px 2px #dfdfdf;
	background-color: #eeeeee;
}
#name{
	height:48px;
	margin-right:auto;
}
#content{
	margin-top:57px;
}
#loading{
	width: 100%;
	height: 12px;
	margin:16px 0;
	opacity:0.5;
	background-image:url(/static/ic_load.gif);
	background-position:center;
	background-size:48px 12px;
	background-repeat:no-repeat;
}
.title{
	color:#333333;
	font-size:17px;
	line-height:1.3;
	font-weight: bold;
	margin-bottom:3px;
	word-break: break-all;
}
.brief{
	display:block;
	color:#777777;
	/*padding:0 5%;*/
	line-height:1.5;
	font-size:13px;
}
.card{
	padding:14px 14px 18px 14px;
	margin:0 10px;
	border-bottom:1px solid #f0f0f0;
	overflow: hidden;
}
.card:active{
	background-color:#f7f7f7;
	padding:14px 24px 18px 24px;
	margin:0;
}
.avatar{
	width:18px;
	height:18px;
	display:inline-block;
	background-size:18px;
	border-radius:9px;
	margin-right:4px;
	position:relative;
	top:3px;
}
.line{
	height:24px;
	margin-bottom:6px;
}
.info{
	display:inline-block;
	font-size:13px;
	line-height:24px;
	position:relative;
        bottom:1px;
}
#logo,#member,#about{
	height:28px;
	width:28px;
	background-size:28px 28px;
	background-repeat:no-repeat;
	background-position:center center;
	display:inline-block;	
}
#app{
	float:left;
	display:inline-block;
	position:relative;
	top:2px;
	font-size:22px;
	height:56px;
	line-height:56px;
	color:#777777;
}
#logo{
	padding:14px 10px;
	float:left;
	background-image:url(/static/ic_logo.png);
	margin-left:12px;
}
#member,#about{ 
	padding:14px 6px;
	position:relative;
        right:6px;
	float:right;
}
#member{
	background-image:url(/static/ic_member.png);
}
#about{
	background-image:url(/static/ic_about.png);
}
#member:active,#about:active{
	margin:10px 2px;
	padding:0;
	height:36px;
	width:36px;
	background-color:#e2e2e2;
	border-radius:18px;
}
#logo.valid:hover{
	opacity:0.4;
}
::-webkit-scrollbar {
	display: none;
}
